/* ==UserStyle==
@name           Signed out Instagram deannoyifier
@namespace      sheeptester.github.io
@version        2.0.0
@description    Allow scrolling far
@author         SheepTester
==/UserStyle== */

@-moz-document domain("instagram.com") {
  /* The thing that covers the screen when you scroll down too far and is like oh sign in pls */
  .x1n2onr6.xzkaem6:not(:has([aria-label="Close"])) * {
    display: none;
  }
  .x1n2onr6.xzkaem6:not(:has([aria-label="Close"]))::after {
    content: 'Note: Modal hidden by userstyle.';
    position: fixed;
    z-index: 10;
    pointer-events: none;
    left: 10px;
    bottom: 10px;
    color: red;
  }
  /* force ability to scroll */
  body,
  ._9dls {
    overflow: unset !important;
  }
  /* The log in to instagram banner at the bottom of the screen */
  .xoegz02 {
    display: none;
  }
}
