/* ==UserStyle==
@name           Signed out Instagram deannoyifier
@namespace      sheeptester.github.io
@version        1.0.4
@description    Allow scrolling far
@author         SheepTester
==/UserStyle== */

@-moz-document domain("instagram.com") {
  /* The thing that covers the screen when you scroll down too far and is like oh sign in pls */
  .RnEpo._Yhr4 {
    display: none;
  }
  /* force ability to scroll */
  body,
  ._9dls {
    overflow: unset !important;
  }
  /* The log in to instagram banner at the bottom of the screen */
  .N9d2H,
  ._a3gq ._aa5t {
    display: none;
  }
}

@-moz-document domain("twitter.com") {
  /* Bottom blue bar asking you to sign in */
  [data-testid="BottomBar"],
  /* Pop-up that appears when you scroll down too far */
  .r-1pjcn9w {
    display: none;
  }
}

@-moz-document regexp("twitter.com/[^/]+/?$") {
  /* Only prevent scrolling in the Twitter user timeline */
  :root {
    overflow: unset !important;
  }
}
