# Source repo with zip
# https://github.com/slicedlime/examples
examples

# Destination repo with unzipped files
vanilla_worldgen

# Zip file
vanilla_worldgen.zip

# List of commits
commits.txt

# Hash of last commit
last-commit.txt
