# Audio files to be converted into video
/*.mp3
/*.wav

# Audio file names
/audio.txt
/audio-list.js

# Thumbnail images
/thumbnails.zip
/thumbnails/

# Video parts
/parts/
/videos.txt

# Final output video
/output.mp4

# Random other files
/other

